* {
  padding: 0;
  margin: 0;
}

body {
  padding: 5em;
  background-color: #002731;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 10em;
}

h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 600;
  color: #cb3126;
}

h1 span span {
  position: relative;
  animation: move-text-color 0.75s forwards;
  bottom: -1em;
  opacity: 0;
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #3E5C76;
  }
  
  50% {
    bottom: 0.2em;
    color: #EC058E;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #cb3126;
  }
}

.card {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card h5 {
  margin: 1.2rem;
  font-size: 1.5rem;
  color:#eaeaea
}

.input {
  display: flex;
  justify-content: center;
}